[project]
	description = Test repository for demo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SenthilkumarPalanisamy
[access "refs/for/refs/*"]
	read = group user/SenthilkumarPalanisamy
	push = group user/SenthilkumarPalanisamy
	label-Code-Review = -2..+2 group user/SenthilkumarPalanisamy
	label-Verified = -1..+1 group user/SenthilkumarPalanisamy
	rebase = group user/SenthilkumarPalanisamy
	removeReviewer = group user/SenthilkumarPalanisamy
	submit = group user/SenthilkumarPalanisamy
[access "refs/heads/*"]
	read = group user/SenthilkumarPalanisamy
	create = group user/SenthilkumarPalanisamy
	push = +force group user/SenthilkumarPalanisamy
	pushMerge = group user/SenthilkumarPalanisamy
[access "refs/tags/*"]
	push = +force group user/SenthilkumarPalanisamy
	pushTag = group user/SenthilkumarPalanisamy
	pushSignedTag = group user/SenthilkumarPalanisamy
